<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain.example/MediaNest" version="1.0.16" viewmodes="maximized">
	<!-- tizen:application id/package intentionally unchanged (still avplaypoc1.AVPlayPOC) -
	     Tizen treats a changed package id as an entirely different app, which would leave
	     the currently-installed app orphaned on the TV until manually uninstalled. Only the
	     user-facing name changed here; the package identity stays stable across this rename. -->
	<tizen:application id="avplaypoc1.AVPlayPOC" package="avplaypoc1" required_version="2.3"/>
	<name>MediaNest</name>
	<icon src="icon.png"/>
	<tizen:privilege name="http://tizen.org/privilege/application.launch"/>
	<tizen:privilege name="http://tizen.org/privilege/internet"/>
	<tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
	<tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
	<content src="index.html"/>
	<feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
	<tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
	<tizen:profile name="tv"/>
	<tizen:setting background-support="disable" context-menu="disable" encryption="disable" hwkey-event="enable" install-location="auto" screen-orientation="landscape"/>
	<access origin="*" subdomains="true"/>
</widget>
